<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">
    <title>Collections</title>
  </head>
  <body>
    <main>
      <div id="header">
        <h1 id="title">Collections</h1>
        <a href="gallery.html" id="navigation">Gallery</a>
      </div>

      <div class="container">
        <ul class="collections">
          {{#each collections}}
            <li class="collection">
              <a href="collection/{{title}}.html">
                <img src="{{images.0.thumbnail}}"/>
                <div class="collection_overlay"><span>{{title}}</span></div>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </main>

    <footer>
        <div id="rights">
            All rights reserved. Contact: <a href="mailto:photos@example.com">photos@example.com</a>
      </div>
    </footer>
  </body>
</html>